.navbar {
  margin-bottom: 10px;
}

.row {
  margin-bottom: 10px;
}

.playing-card {
  width: auto;
  height: 10vh;
}

.pyramid {
  height: 45vh;
}

.new-card {
  border: 2px solid transparent;
  animation: blink .3s step-end infinite alternate;
  -webkit-animation: blink .3s step-end infinite alternate;
}

@-webkit-keyframes blink {
   50% { border-color: yellow; }
}
@keyframes blink {
   50% { border-color: yellow; }
}

body {
 background-image: url("cards/felt.jpg");
 background-repeat: repeat;
 color: white;
}

.list-group-item {
  background-color: transparent;
  border-color: white;
}

hr {
  border-color: white;
}

.btn {
  border-color: white;
}
