.navbar {
  margin-bottom: 10px;
}

.row {
  margin-bottom: 10px;
}

.playing-card {
  width: auto;
  height: 10vh;
  margin-left: 1px;
  margin-right: 1px;
}

.flip-card {
  animation-name: card-flip;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes card-flip {
  0%   {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes card-flip {
  0%   {opacity: 0}
  100% {opacity: 1}
}

.pyramid {
  height: 45vh;
}

.new-card {
  border: 2px solid transparent;
  animation: blink .3s step-end infinite alternate;
  -webkit-animation: blink .3s step-end infinite alternate;
}

@-webkit-keyframes blink {
   50% { border-color: yellow; }
}
@keyframes blink {
   50% { border-color: yellow; }
}

body {
 background-image: url("/assets/felt.jpg");
 background-repeat: repeat;
 color: white;
}

.list-group-item {
  background-color: transparent;
  border-color: white;
}

hr {
  border-color: white;
}

.btn {
  border-color: white;
}

.deck {
  box-shadow: 10px 0px #949495;
  margin-right: 15px;
}

.selected-card {
  border: 2px solid yellow;
}

.extra-cards-left {
  margin-left: 5px
}

.current-player {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.invisble {
  visibility: hidden;
}

.deck-gone {
  border: solid 2px white;
  margin-right: 5px
}

.black-text {
  color: black;
}

.rainbow {
  animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}
